@import url("global.css");
@import url("layout.css");
@import url("buttons.css");
@import url("forms.css");
@import url("navigation.css");
@import url("modals.css");
@import url("cards.css");
@import url("alerts.css");
@import url("course-table.css");
@import url("maintenance.css");
@import url("calendar.css");
@import url("calendar-manage.css");
@import url("calendar-mapping.css");
@import url("planning.css");
@import url("bills.css");
@import url("text-input.css");
@import url("pie.css");
@import url("histogram.css");
@import url("tw-compat.css");


@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
}

.list-item {
    flex: 1 1 33%;
    max-width: 33%;
}

/* Moved flex-list and card to global.css */

.btn-text-link {
    background-color: transparent;
    border: none;
}

.card-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4px;
}

.card-title {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20%;
    text-align: left;
    margin: 2px;
}

.card-content-text,
.card-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-line-two {
    font-size: smaller;
    margin: 0;
    padding: 0;
}

.card-content-text h2 {
    font-weight: bolder;
    font-size: larger;
}

.card-content-end {
    display: flex;
    gap: 15px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 0 1px var(--icon-grey);
}

.cool-box {
    border: solid var(--icon-grey);
    box-shadow: 0 0 0 1px var(--icon-grey);
    border-width: thin;
    border-radius: 8px;
    margin: 1rem;
    /*    background-color: var(--main-bg-color); */
}

.cool-box:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

form.cool-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: thin;
    border-radius: 8px;
    margin: 1rem;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto auto;
}

/* Use .glass-background-solid or .card instead of .nice-box / .school-box */

.nice-form {
    display: flex;
    flex-direction: column;
    min-width: 50rem;
    width: 90%;
    padding: 1rem;
    gap: 0.6rem;
}

.login-form {
    min-width: 10rem;
    width: 90%;
    margin: 1px auto;
    text-align: center;
}

.login-form input {
    margin: 1px auto;
    text-align: center;
    background-color: var(--main-bg-color);
}

@media (min-width: 640px) {
    .school-details {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%);
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop.show {
    opacity: 0.5;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.modal-footer> :not(:first-child) {
    margin-left: 0.25rem;
}

.modal-footer> :not(:last-child) {
    margin-right: 0.25rem;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2));
    }

    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}

/*
  Toggle switch
*/
.toggle-container {
    border-radius: 3.125em;
    width: 3.25em;
    height: 1.875em;
    line-height: 1.25rem;
    padding-top: 0.25rem;
    align-items: center;
}

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    border-radius: inherit;
    height: 1.875em;
    opacity: 0;
    cursor: pointer;
}

.toggle-track {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: inherit;
    padding: 0.25em;
    width: 100%;
    height: 1.6em;
    background-color: #aeaeae;
    box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s linear;
}

.toggle-container.edit>.toggle-checkbox:checked+.toggle-track {
    background-color: #4ccf59;
}

.toggle-thumb {
    position: relative;
    border-radius: 0.6875em;
    transform-origin: left;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.2),
        inset 0 -0.125em 0.25em rgba(0, 0, 0, 0.2);
}

.toggle-checkbox.toggled-once+.toggle-track>.toggle-thumb {
    animation-name: grow-out, bounce-out;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.75, 0, 1, 1),
        cubic-bezier(0, 0, 0.3, 1.5);
    animation-delay: 0s, 0.2s;
    animation-fill-mode: forwards;
}

.toggle-checkbox.toggled-once:checked+.toggle-track>.toggle-thumb {
    animation-name: grow-in, bounce-in;
}

@keyframes grow-in {
    0% {
        border-radius: 0.6875em;
        transform: translateX(0) scale(1);
    }

    100% {
        border-radius: 0.4448529412em / 0.9453125em;
        transform: translateX(0.5em) scale(1.5454545455, 0.7272727273);
    }
}

@keyframes bounce-in {
    0% {
        border-radius: 0.4448529412em / 0.9453125em;
        transform: translateX(0.5em) scale(1.5454545455, 0.7272727273);
    }

    100% {
        border-radius: 0.6875em;
        transform: translateX(100%) scale(1);
    }
}

@keyframes grow-out {
    0% {
        border-radius: 0.6875em;
        transform: translateX(100%) scale(1);
    }

    100% {
        border-radius: 0.4448529412em / 0.9453125em;
        transform: translateX(0.125em) scale(1.5454545455, 0.7272727273);
    }
}

@keyframes bounce-out {
    0% {
        border-radius: 0.4448529412em / 0.9453125em;
        transform: translateX(0.125em) scale(1.5454545455, 0.7272727273);
    }

    100% {
        border-radius: 0.6875em;
        transform: translateX(0) scale(1);
    }
}

.nav-form {
    display: inline-flex;
    color: var(--main-text-color);
}

.nav-form select {
    font-size: smaller;
    border-radius: 8px;
    padding: 0 8px;
    margin: 1rem;
    min-width: 4.5rem;
}

.total-line {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: var(--surface-glass);
    padding: 0.5rem;
    border-radius: 8px;
}