.breadcrumb {
    width: 100%;
    background-color: var(--nav-bg-color);
    color: white;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.breadcrumb ul li {
    padding: 0.5rem;
}

.breadcrumb ul li a {
    color: white;
}