  /* Calendar */
  /* (A) ENTIRE PAGE */

  .hide {
    display: none !important;
  }

  .my-box {
    box-shadow: 3px 3px 1px 1px rgba(118, 85, 158, 0.338);
    border: 0;
    border-radius: 4pt;
    padding: 2pt 4pt;
    margin: 2pt 8pt 6pt 8pt;
    width: 90%;
    font-size: smaller;
  }

  .course-select {
    background-color: var(--secondary-bg-color);
    display: inline;
    color: --var(--main-text-color);
  }

  .planning-entry {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: --var(--main-text-color);
    box-shadow: 3px 3px 1px 1px rgba(118, 85, 158, 0.338);
    padding: 2pt;
    margin: 2pt 0;
    width: 95%;
  }

  .planning-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.25rem;
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .planning-tools {
    display: flex;
    flex-direction: column;
  }

  .tool {
    margin: 2px;
  }

  /* (B) PERIOD SELECTOR */
  #calPeriod {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: var(--secondary-bg-color);
  }

  .calSelect {
    font-size: 24px;
    outline: none;
    color: #fff;
    background: 0;
    cursor: pointer;
  }

  .period-form {
    line-height: 2em;
    display: inline-box;
  }

  .spacer {
    flex-grow: 1;
  }

  #calPeriod input {
    font-size: 24px;
    outline: none;
    color: #fff;
    background: 0;
    cursor: pointer;
  }

  #calPeriod option {
    color: #000;
  }

  #calYear {
    width: 100px;
    margin-left: 10px;
  }

  /* (C) CALENDAR */
  /* (C1) SHARED */
  .calHead,
  .calRow {
    display: flex;
  }

  .calCell {
    width: 14.3%;
    margin: 1px;
  }

  .calDay {
    display: flex;
    flex-direction: column;
    background-color: #fbfbe4;
    min-height: 10rem;
  }

  /* (C2) HEADER - DAY NAMES */
  .calHead .calCell {
    color: #fff;
    background: var(--secondary-bg-color);
    font-weight: 700;
    text-align: center;
    padding: 8px 0;
  }

  /* (C3) BODY - INDIVIDUAL DAYS */
  .calBlank {
    background: #eee;
  }

  .calToday {
    background: #feffd3;
  }

  .calToday .cellDate {
    color: #ff9b9b;
  }

  .calBody .calCell {
    box-shadow: 3px 3px 1px 1px rgba(42, 42, 145, 0.338);
    border-radius: 5% 2%;
    margin: 4px;
  }

  .cellDate,
  .evt {
    padding: 5px;
  }

  .cellDate {
    font-size: 14px;
    font-weight: 700;
    color: #b5b5b5;
  }

  .evt {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }

  /* (D) EVENT FORM */
  #calForm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  #calForm:is([open]) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  #calForm form {
    position: relative;
    width: 450px;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
  }

  #evtClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #b12020;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
  }

  #calForm h2 {
    margin: 0 0 15px 0;
  }

  #calForm label,
  #calForm input[type=text],
  #calForm textarea {
    width: 100%;
  }

  #calForm label {
    color: #a1a1a1;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
  }

  #calForm input[type=text],
  #calForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
    background: #f5f5f5;
  }

  #calForm textarea {
    height: 100px;
    resize: none;
  }

  #calForm input[type=button],
  #calForm input[type=submit] {
    border: 0;
    padding: 10px;
    margin: 10px 2px 0 0;
    color: #fff;
    background: var(--bg-color-c);
    cursor: pointer;
  }

  .mapping-table {
    background-color: white;
    color: var(--main-text-color);
    border-radius: 6px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    padding: 6px;
  }

  .mapping-table thead{
    background-color: var(--secondary-bg-color);
  }

  .mapping-table th {
    padding: 12px;
  }

  .mapping-table td {
    padding: 6px;
  }