/* Global styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-bg-color: rgba(154, 212, 223, 0.6);
    --box-bg-color: rgba(102, 224, 251, 0.5);
    --nav-bg-color: #221f49;
    --main-box-bg-color: rgb(184, 226, 234);
    --secondary-bg-color: rgb(134, 166, 241);
    --border-color: #538ce9;
    --main-text-color: #604490;
    --icon-green: #0e7e0e;
    --icon-grey: #a2a2a2;
    /* calendar */
    --bg-color-a: #3b39af; /* page header + form label */
    --bg-color-b: #404040; /* calendar header */
    --bg-color-c: #d73a3a; /* buttons */
    /* animation */
    --shadow-color: #3b498a;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-colored: 0 4px 6px -1px var(--shadow-color),
        0 2px 4px -2px var(--shadow-color);
    --ring-offset-width: 0px;
    --ring-offset-color: #fff;
    --ring-color: rgb(59 130 246 / 0.5);
    --ring-offset-shadow: 0 0 #0000;
    --ring-shadow: 0 0 #0000;
}

@media print {
    body {
        color: var(--main-text-color);
        background-color: rgb(255, 255, 255);
    }
    nav {
        display: none;
    }
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: 300% 300%;
    background-image: linear-gradient(
        -45deg,
        rgb(59, 88, 233) 10%,
        rgb(100, 222, 233) 25%,
        rgb(149, 88, 153) 51%,
        #151bb7 100%
    );
    -webkit-animation: AnimateBG 20s ease infinite;
    animation: AnimateBG 20s ease infinite;
}

main {
    flex: 1; /* Le contenu prend tout l'espace disponible */
}

nav {
    background-color: var(--nav-bg-color);
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
}

header h2 {
    margin-left: 1rem;
    font-weight: bolder;
    font-size: larger;
    color: #fff;
}

section {
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
    flex-grow: 1;
    width: 98%;
    min-width: 1100px;
    padding: 1rem;
    max-width: 90%;
}

table{
    width: 100%;
}

footer {
    font-size: small;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 120px;
  max-width: 80vw;
  margin: 1rem auto;
}