.metrics{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin-bottom: 12px;
}
.metrics h2{
    text-align: center;
}
.metrics-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.histogram {
    width: auto;
    height: 200px; /* Adjust height as needed */
    overflow: hidden;
    vertical-align: bottom;
    line-height: 0; /* Remove extra space below */
    display: inline-flex;
    align-items: end;
    margin-bottom: 6px;
    display: inline-flex;
}
.histogram-bar {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 8px 8px 2px 1px rgba(8, 42, 196, 0.2);
    border-radius: 5px 5px 0 0;
    display: inline-block;
    margin: 0 8px;
    min-width: 4em;
    vertical-align: bottom; /* Align bars to the bottom */
}

.histogram-label {
    color: black;
    position: relative;
    top: -1.5em;
    left: 0.5em;
    font-size: smaller;
    padding: 6px;
}