.metrics{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin-bottom: 12px;
}
.metrics h2{
    text-align: center;
    color: var(--text-heading);
}
.metrics-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.histogram {
    width: auto;
    height: 200px;
    overflow: hidden;
    vertical-align: bottom;
    line-height: 0;
    display: inline-flex;
    align-items: end;
    margin-bottom: 6px;
}
.histogram-bar {
    background-color: var(--chart-bar-bg);
    box-shadow: var(--chart-bar-shadow);
    border-radius: 5px 5px 0 0;
    display: inline-block;
    margin: 0 8px;
    min-width: 4em;
    vertical-align: bottom;
}

.histogram-label {
    color: var(--text-body);
    position: relative;
    top: -1.5em;
    left: 0.5em;
    font-size: smaller;
    padding: 6px;
}
