.planning-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 12px auto;
}

.planning-date {
    text-align: center;
    padding: .25rem;
    background-color: #bfdbfe;
    width: 10%;
}

.planning-total {
    text-align: center;
    padding: .25rem;
    background-color: #bfdbfe99;
    color: var(--main-text-color);
    font-size: smaller;
    #ffffff-space: nowrap;
    border-radius: 0 0 6px 6px;
}