.text-input {
    padding: 0.6rem;
    min-width: 4.5rem;
    max-width: 20rem;
    border: 1px solid var(--surface-input-border);
    border-radius: var(--rounded-md) !important;
    background-color: var(--surface-input);
    color: var(--text-body);
    font-size: 1rem;
    box-shadow: var(--shadow-sm);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
