.text-input {
    padding: 0.6rem;
    min-width: 4.5rem;
    max-width: 20rem;
    border: 1px solid var(--border-color);
    border-radius: var(--rounded-md) !important;
    background-color: #ffffffb2;
    color: var(--text-color);
    font-size: 1rem;
    box-shadow: 0 2px 4px #0000001a;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}