.text-input {
    padding: 0.6rem;
    min-width: 4.5rem;
    max-width: 20rem;
    border: 1px solid var(--border-color);
    border-radius: 8px !important;
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--text-color);
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}